<!DOCTYPE html>
<html ng-app="angularjs-starter">

<head lang="en">
  <meta charset="utf-8">
  <title>Step 6.2</title>
  <script src="http://code.angularjs.org/1.1.1/angular.js"></script>
  <link rel="stylesheet" href="style.css">
  <script src="app.js"></script>
</head>

<body ng-controller="MainCtrl">
  <h3>Tikal Knowledge</h3>
  <div class="block">
    <form name="myForm" ng-submit="addEntry()">
      <input type="text" ng-model="name" placeholder="name" required>
      <input type="text" ng-model="occupation" placeholder="occupation">
      <select ng-model="gender">
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
      <input  ng-disabled="!myForm.$valid" type="submit" value="Add!">
    </form>    
    <p>
      <input class="search" type="text" ng-model="query" placeholder="search"/>
    </p>
    <span class="table">
      <table>
        <tr ng-repeat="item in items() | filter:query"  class="gender_{{item.gender}}" ng-mouseover="updateInfo(item)">
        <td>
          {{item.name}} 
        </td>
        <td>{{item.occupation}}</td>
      </tr>
    </table>
  </span>
  <br/>
  <user x-who="marked"> 
    bla bla
  </user>
  <div style="clear:both"></div>
</div>
<p/>
<div x-tooltip title="This is a tooltip">
  <h2>just a tool-tipped text</h2>
</div>
</body>
</html>