<!DOCTYPE html>
<html ng-app="angularjs-starter">
  
  <head lang="en">
    <meta charset="utf-8">
    <title>Step 4</title>
    <script src="http://code.angularjs.org/1.1.1/angular.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="app.js"></script>
  </head>
  <body ng-controller="MainCtrl">
    <h3>Tikal Knowledge</h3>
  <form ng-submit="addEntry()">
    <input type="text" ng-model="name" placeholder="name" required><br />
    <input type="text" ng-model="occupation" placeholder="occupation" required>
    <select ng-model="gender" ng-init="gender='female'">
      <option value="male">Male</option>
      <option value="female" >Female</option>
    </select>
    <input type="submit" value="Add!">
  </form>
    <table >
      <tr ng-repeat="item in items()" class="gender_{{item.gender}}">
        <td>
          {{item.name}} 
        </td>
        <td>{{item.occupation}}</td>
      </tr>
    </table>
  </body>

</html>