<!DOCTYPE html>
<html ng-app="angularjs-starter">
  <head lang="en">
    <meta charset="utf-8">
    <title>Step 6</title>
    <script src="http://code.angularjs.org/1.1.1/angular.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="app.js"></script>
  </head>
  <body ng-controller="MainCtrl">
    <h3>Tikal Knowledge</h3>
  <form name="myForm" ng-submit="addEntry()">
    <input type="text" ng-model="name" placeholder="name" required><br />
     <select ng-model="occupation" ng-options="value.id as value.id for value in occupations">
      <option>
        --
      </option>
    </select>
    <select ng-model="gender" ng-init="gender='female'">
      <option value="male">Male</option>
      <option value="female" >Female</option>
    </select>
    <input  ng-disabled="!myForm.$valid" type="submit" value="Add!">
    <h4>number of items {{items().length}}</h4>
  </form>
  <p>
    <input class="search" type="text" ng-model="query" placeholder="search"/>
  </p>
  <span class="table" ng-mouseout="updateInfo()">
    <table>
      <tr ng-repeat="item in items() | filter:query" 
      class="gender_{{item.gender}} selection_{{item==marked}}" 
      ng-mouseover="updateInfo(item)">
          <td>
            {{item.name}} 
          </td>
          <td>{{item.occupation}}</td>
        </tr>
      </tbody>
    </table>
  </span>
  <user class="info" user="marked" occupation="{{marked.occupation}}"/>
</body>
</html>