<style type="text/css">
.videothumb {
	border: 0px solid green;
	margin: 10px;
	box-shadow: 3px 3px 30px green;
	width: 200px;
	height: 200px;
	text-align: center;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;	
    overflow: hidden;
}
.videothumb img {
	margin: 10px auto;
	padding: 3px;
	border: 1px dotted silver;
	width: 85%;
	height: 70%;

}
.videothumb:HOVER {
	box-shadow: 3px 3px 100px yellow;
	border-color: yellow;
}
.videothumb span {
	display:block;
}

</style>

<div class="videothumb">
	<img src="{{data.thumb}}" ng-click="play(data.url)"></img>
	<span>{{data.title}}</span>
</div>